@inherits LayoutComponentBase

<div class="flex h-screen bg-slate-100 overflow-hidden">
    
    @* BARRA LATERAL *@
    <aside class="w-72 h-full flex-shrink-0">
        <NavMenu />
    </aside>

    @* CONTENIDO DINÁMICO *@
    <main class="flex-1 h-full overflow-y-auto">
        @* Aquí es donde Blazor 'inyecta' Home, Agenda o NuevaOperacion *@
        @Body 
    </main>

</div>y