@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>

<style>
    /* Reset básico para asegurar que el login ocupe todo el ancho/alto */
    main {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        background-color: #020617; /* Fondo oscuro consistente con el Login */
    }
</style>